.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape {
    background-color: #fff;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body .rodape {
    opacity: 1;
}

.propaganda{
    float: right;
    text-align: right;
}

.social{
    float: left;
    list-style: none;
}