.cabecalho{
    display: flex;
    height: 120px;
    background-color: #eefff2;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem{
    max-width: 100%;
    max-height: 70px;
    margin: 10px;
}

.cabecalho h1{
    margin-top: 0px;
}

.lista li{
    list-style-type: none;
    display: flex;
    align-items: center;
}