.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
    background-color: rgb(141, 82, 148);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 600px;
    height: 600px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}